header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#lg-name {
    margin-top: 5vw;
}

#menu-toggle {
    background-color: rgba(30, 30, 30, 0.5);
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background: rgb(240, 24, 24);
}

#sidebar.open {
    transform: translateX(0);
}

#sidebar a {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
}

#close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f3f4f6;
}

body.menu-open {
    overflow: hidden;
}

.desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    transition: display 0.3s ease-in-out;
}

.desktop-nav a {
    padding: 0.5rem 1rem;
    color: #0f0f0fd8;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.desktop-nav a:hover {
    background: #ee1818a2;
    color: #ffffff;
}

.section-background {
    background: #333;
}

.section {
    padding: 60px 20px;
    background-color: #f4f4f4;
    color: #333;
}

.section:nth-of-type(even) {
    background-color: #e2e2e2;
}

.hidden {
    display: none;
}
